
/* terkait GUI */
#terkait-wrapper {
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 99999;
}

#terkait-wrapper *, .terkait-recommended-content-dialog * {
	font-family: Verdana, Arial;
	font-size: 12px;
	color: #333;
	line-height: normal;
	text-align:left;
}

#terkait-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#terkait-container {
	display: inline-block;
	vertical-align: middle;
	padding: 30px 5px 40px 10px;
	border: #a0a0a0 solid 1px;
	background: #f5f5f5;
	box-shadow: 0px 0px 30px grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 75%;
	width: 300px;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100px;
}

#terkait-container .terkait-description {
    font-size: 14px;
    font-style: italic;
    text-align:center;
    font-family: "Times New Roman";
}

#terkait-container .terkait-loader {
    width : 33px;
    height: 33px;
    position:absolute;
    top: 0px;
    border-radius: 20px;
    right: 0px;
}

#terkait-container .terkait-entities {
	background-color: transparent;
	overflow-y: auto;
	overflow-x: visible;
	height:100%;
	width:100%;
}

#terkait-container .terkait-accordion {
    position:relative;
	margin-top:10px;
	-webkit-perspective: 1000;
	overflow: hidden;
	width: 280px;
	height: 222px;
    border: 2px solid #999;
	border-radius: 10px;
}

#terkait-container .terkait-button {
	width: 24px;
	height: 24px;
	cursor:pointer;
	background-color:transparent;
	border: 0px;
	padding:0px;
	z-index: 9999;
}

#terkait-container .terkait-card-label {
	height:28px;
}

#terkait-container .terkait-card-label .terkait-lbl {
	font-size:20px;
	text-align:center;
	overflow: hidden;
	height:28px;
}

#terkait-container .terkait-card-content {
	height:100%;
	clear: both;
	overflow: hidden;
	
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
}

#terkait-container .terkait-front {
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	position: absolute;
	overflow:hidden;
}

#terkait-container .terkait-back {
	display: block;
	-webkit-transform: rotateY(180deg);
	-webkit-box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow-x:hidden;
	overflow-y:scroll;
}

#terkait-container .terkait-recommended-content {
	height: 194px;
	width: 74px;
	float: left;
	overflow: hidden;
}

#terkait-container .terkait-recommended-icon {
    height: 64px;
    width: 64px;
    margin:0px;
	cursor:pointer;
}

.terkait-recommended-content-dialog {
	width: 300px;
	height : 200px;
	background-color: white;
	position:fixed;
	padding: 10px;
	box-shadow: 0px 0px 5px grey;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 99998;
	overflow: hidden;
}

#terkait-container .terkait-entity-details {
	height: 197px;
	width: 206px;
	display: block;
	float: right;
	overflow:hidden;
}

#terkait-container .terkait-entity-details .terkait-abstract {
	width: 100%;
	font-style: italic;
	font-size: 13px;
}

#terkait-container .terkait-entity-details .terkait-abstract a {
	font-style: italic;
	font-size: 13px;
	text-shadow: 1px 1px lightblue;
}

#terkait-container .terkait-entity-details .terkait-map_canvas {
	height: 100px;
	width: 100px;
	float:right;
	box-shadow: 5px 7px 6px grey;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#terkait-container .terkait-entity-details .terkait-map_canvas a div {
	height: 100px;
	width: 100px;
	border-radius: 5px 5px;
}

#terkait-container .terkait-link-to-slide {
font:15px;
text-decoration:underline;
}

#terkait-container .terkait-entity-details a {
}


#terkait-container .terkait-entity-editor label {
	margin-left: 5px;
	font-size: 12px;
	margin-bottom: 10px;
}

#terkait-container .terkait-entity-editor input {
	float:left;
	margin-left: 5px;
}

#terkait-container .terkait-entity-editor input[type=image] {
	background-color: red;
	vertical-align: text-bottom;
}

.terkait-image-item {
	display: inline;
    margin-top : 0px;
    margin-left : 0px;
    margin-right : 10px;
    margin-bottom : 10px;
    box-shadow: rgb(128, 128, 128) 5px 7px 6px;
    cursor: pointer;
}

.terkait-news-item {
	font-size: 10px;
}

.terkait-news-item-title, .terkait-news-item-title:visited, .terkait-news-item-title:active {
	font-size  : 13px;
	font-weight: bold;
	color      : #1F4F82;
}

.terkait-news-item-source, .terkait-news-item-source:visited, .terkait-news-item-source:active  {
	font-size  : 10px;
	font-weight: bold;
	color      : #25B14C;
}