/* Text of interest */
.terkait-toi:hover, .terkait-toi .active {
	-webkit-transition: background 1s;
	background-color: rgba(255, 255, 153, 0.7);
}

/* terkait GUI */
#terkait-wrapper {
	font-size: 10px;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 99999;
}

#terkait-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#terkait-container {
	font-family: Verdana, Arial;
	color: black;
	display: inline-block;
	vertical-align: middle;
	padding: 30px 5px 40px 10px;
	border: #a0a0a0 solid 1px;
	background: #f5f5f5;
	box-shadow: 0px 0px 30px grey;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	height: 75%;
	width: 300px;
	/*TODO: for later left: 250px;*/
	position: relative;
	background-repeat: no-repeat;
	background-size: 100px;
}

#terkait-container .description {
    font-size: 10px;
    font-style: italic;
    text-align:center;
}

#terkait-container .loader {
    width : 33px;
    height: 33px;
    position:absolute;
    top: 0px;
    border-radius: 20px;
    right: 0px;
}

#terkait-container .entities {
	background-color: transparent;
	overflow-y: auto;
	overflow-x: visible;
	height:100%;
	width:100%;
}

#terkait-container .accordion {
    position:relative;
	margin-top:10px;
	-webkit-perspective: 1000;
}

#terkait-container .button {
	width: 24px;
	height: 24px;
	cursor:pointer;
	background-color:transparent;
	border: 0px;
	padding:0px;
}

#terkait-container .card-label {
	font-size:20px;
	text-align:center;
	overflow: hidden;
	height:28px;
}

#terkait-container .card-content {
	height:222px;
	clear: both;
	overflow-y: scroll;
	
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
}

#terkait-container .front {
	width: 296px;
	height: 218px;
	-webkit-backface-visibility: hidden;
	position: absolute;
    border: 2px solid #999;
	border-radius: 10px;
	overflow:hidden;
}

#terkait-container .back {
	display: block;
	-webkit-transform: rotateY(180deg);
	-webkit-box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	position: absolute;
	width: 296px;
	height: 218px;
    border: 2px solid #999;
	border-radius: 10px;
	overflow:scroll;
}

#terkait-container .recommended-content {
	height: 194px;
	width: 74px;
	float: left;
	overflow: hidden;
}

#terkait-container .recommended-icon {
    height: 64px;
    width: 64px;
    margin:0px;
	cursor:pointer;
}

.terkait-recommended-content-dialog {
	width: 300px;
	height : 200px;
	background-color: white;
	position:absolute;
	padding: 10px;
	box-shadow: 0px 0px 5px grey;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	z-index: 99998;
}

#terkait-container .entity-details {
	height: 197px;
	width: 222px;
	display: block;
	float: right;
	overflow-y:scroll;
}

#terkait-container .entity-details .abstract {
	width: 100%;
	font-style: italic;
	font-size: 13px;
}

#terkait-container .entity-details .abstract a {
	font-style: italic;
	font-size: 13px;
	text-shadow: 1px 1px lightblue;
}

#terkait-container .entity-details .map_canvas {
	height: 100px;
	width: 100px;
	float:right;
	box-shadow: 5px 7px 6px grey;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#terkait-container .entity-details .map_canvas a div {
	height: 100px;
	width: 100px;
	border-radius: 5px 5px;
}

#terkait-container .link-to-slide {
font:15px;
text-decoration:underline;
}

#terkait-container .entity-details a {
}