#terkait-wrapper {
	font-size: 10px;
	text-align: center;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 99999;
}

#terkait-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#terkait-container {
	display: inline-block;
	vertical-align: middle;
	padding: 2.5em 1.5em;
	border: #a0a0a0 solid 1px;
	background: #f5f5f5;
	box-shadow: 0px 0px 3em grey;
	border-radius: 0.5em;
	height: 75%;
	width: 30em;
	/*TODO: right: -25em; no hovering for development */
	left: 0px; /*no hovering for development*/
	position: relative;
	background-repeat: no-repeat;
	background-size: 10em;
}

#terkait-container .entities {
	background-color: transparent;
	border: #a0a0a0 solid 1px;
	overflow-y: auto;
	position: absolute;
	top: 3em;
	bottom: 1em;
	right: 1.5em;
	left: 1em;
}

#terkait-container .entities .container>* {
	
}

/* Text of interest */
.terkait-toi:hover,.terkait-toi .active {
	-webkit-transition: background 1s;
	background-color: rgba(255, 255, 153, 0.7);
}

.entity_card {
	width: 77%;
	height: 155px;
	background-color: #cccccc;
	border: 2px solid #999999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	padding: 15px 15px 15px 15px;
	margin-top: 2px;
	margin-left: 2px;
}

#map_canvas {
	width: 40%;
	height: 40%;
}

.entityDetails {
	display: inline-block;
	width: 50%;
	height: 100%;
	background-color: red;
	margin-left: 30px;; 
}

.entityDetails .a {
	
}

.content {
	display: inline-block;
	width: 30%;
	height: 50px;
	background-color: blue;
	border-right-width: 15px;

}