/* Text of interest */
.terkait-toi:hover, .terkait-toi .active {
	-webkit-transition: background 1s;
	background-color: rgba(255, 255, 153, 0.7);
}

/* terkait GUI */
#terkait-wrapper {
	font-size: 10px;
	text-align: center;
	position: fixed;
	top: 0px;
	right: 0px;
	height: 100%;
	z-index: 99999;
}

#terkait-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

#terkait-container {
	display: inline-block;
	vertical-align: middle;
	padding: 30px 5px 20px 10px;
	border: #a0a0a0 solid 1px;
	background: #f5f5f5;
	box-shadow: 0px 0px 30px grey;
	border-radius: 5px;
	height: 75%;
	width: 300px;
	/*TODO: right: -250px; no hovering for development */
	left: 0px; /*no hovering for development*/
	position: relative;
	background-repeat: no-repeat;
	background-size: 100px;
}

#terkait-container .entities {
	background-color: transparent;
	overflow-y: scroll;
	overflow-x: hidden;
	height:100%;
	width:100%;
}

#terkait-container .accordion {
    position:inherit;
    border: 2px solid #999;
	border-radius: 10px;
	margin-top:5px;
	margin-bottom:5px;
}

#terkait-container .entity-card {
}

#terkait-container .card-label {
    display:none; /* ignore for now */
    -webkit-transform: rotate(-90deg);
	overflow: hidden;
}

#terkait-container .card-content {
	height:188px;
}

#terkait-container .recommended-content {
	background-color:blue;
	height: 100%;
	width: 33%;
	float: left;
}

#terkait-container .entity-details {
	background-color: red;
	height: 100%;
	width: 66%;
	display: block;
	float: right;
}